@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
.header{
    background-color: #2C3E50;

}
.logo {
    font-family: 'MuseoModerno', italic;
    font-weight: 900; 
    color: #2C3E50;
}

.texto1{
    font-family: 'Murecho', italic;
    font-weight: 600; 
    color: #000000;
}
.containerLogin {
    background-color: #F5D39B;
    margin: 0;              
    height: 100vh;
}

.icon {
    font-size: 1.5rem; 
    margin-right: 10px; 
}

.form-group input {
    background-color: #FAE9CD;
    width: 100%; 
    border-radius: 30px; 
    padding: 10px; 
    font-size: 1rem;
    box-shadow: 0 5px 5px rgba(44, 62, 80, 0.5);

}

.btnSub{
    background-color: #EBA637;
    border-radius: 30px;
    cursor: pointer;
}
.btnSub:hover{
    background-color: #2C3E50; 
    color: #fff;
    transform: scale(0.98); 
    box-shadow: 0 5px 5px rgba(44, 6, 80, 0.5);
    
}
